<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
<!--    <test name="ChromeTest">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="com.Qapitol.testcases.ElementsTestCases"/>-->
<!--            <class name="com.Qapitol.testcases.Widgets"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    &lt;!&ndash; Test for Edge &ndash;&gt;-->
<!--    <test name="EdgeTest">-->
<!--        <parameter name="browser" value="edge"/>-->
<!--        <classes>-->
<!--            <class name="com.Qapitol.testcases.ElementsTestCases"/>-->
<!--            <class name="com.Qapitol.testcases.Widgets"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.Qapitol.testcases.ElementsTestCases"/>
        </classes>
    </test>

    <!-- Test for Edge -->
    <test name="EdgeTest">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.Qapitol.testcases.Widgets"/>
        </classes>
    </test>
</suite>
